# HOW MANY DAYS IN THE MONTH DID EACH MACHINE WORK?

In [1]:
import numpy as np
import pandas as pd
#import os
#import datetime

* Calling the dataset

In [2]:
path = "D:/Notas de Estudio/Proyectos/production_analysis__project/production_analysis/data/processed/data.csv"

In [3]:
df = pd.read_csv(path, header = 0, index_col = False)
df

,FECHA,TURNO,GRUPO,MÁQ.,CODIGO,PRODUCCION (PZAS),TOTAL KG,SCRAP,DIA,NOMBRE_DIA
0,2021-12-01,Mañana,B,EB G1,0,0,0.000,0.00,1,Wednesday
1,2021-12-01,Mañana,B,EB G2,"IBT24,5X35C0F0S",4,64.550,86.25,1,Wednesday
2,2021-12-01,Mañana,B,EB G3,IBT17X40G1F0SO,8,194.770,12.40,1,Wednesday
3,2021-12-01,Mañana,B,EB G4,IBT17X30G1F0S2,8,295.776,11.85,1,Wednesday
4,2021-12-01,Mañana,B,EB-17,0,0,0.000,0.00,1,Wednesday
...,...,...,...,...,...,...,...,...,...,...
4318,2021-12-23,Noche,A,EB 121,0,0,0.000,0.00,23,Thursday
4319,2021-12-23,Noche,A,EB-122,IPT18X40C0F0SO,12,169.230,24.90,23,Thursday
4320,2021-12-23,Noche,A,EB-123,0,0,0.000,0.00,23,Thursday
4321,2021-12-23,Noche,A,EB-124,0,0,0.000,0.00,23,Thursday
4322,2021-12-23,Noche,A,EB-125,0,0,0.000,0.00,23,Thursday

* Woking days of each machine

In [4]:
# THIS PART OF THE CODE IS JUST FOR LEARNING

In [5]:
test = df.groupby(['DIA', 'MÁQ.']).sum()
test

            PRODUCCION (PZAS)  TOTAL KG   SCRAP
DIA MÁQ.
1   EB 120                 48  1151.520   32.90
    EB 121                  0     0.000    0.00
    EB G1                   0     0.000    0.00
    EB G2                  19   298.675  129.25
    EB G3                  24   578.010   38.90
...                       ...       ...     ...
23  EB-123                  0     0.000    0.00
    EB-124                  0     0.000    0.00
    EB-125                 35  1095.500   53.85
    EB-17                 134  2583.360  203.85
    EB-18                   0     0.000    0.00

[1426 rows x 3 columns]

In [6]:
test.index  #knowing the index

MultiIndex([( 1, 'EB 120'),
            ( 1, 'EB 121'),
            ( 1,  'EB G1'),
            ( 1,  'EB G2'),
            ( 1,  'EB G3'),
            ( 1,  'EB G4'),
            ( 1, 'EB-026'),
            ( 1, 'EB-029'),
            ( 1, 'EB-032'),
            ( 1, 'EB-036'),
            ...
            (23, 'EB-116'),
            (23, 'EB-117'),
            (23, 'EB-118'),
            (23, 'EB-119'),
            (23, 'EB-122'),
            (23, 'EB-123'),
            (23, 'EB-124'),
            (23, 'EB-125'),
            (23,  'EB-17'),
            (23,  'EB-18')],
           names=['DIA', 'MÁQ.'], length=1426)

In [7]:
test.loc[( 1, 'EB 120')]

PRODUCCION (PZAS)      48.00
TOTAL KG             1151.52
SCRAP                  32.90
Name: (1, EB 120), dtype: float64

In [8]:
test.loc[( 1, 'EB 120'),['TOTAL KG']]

TOTAL KG    1151.52
Name: (1, EB 120), dtype: float64

In [9]:
test.loc[( 1, 'EB 120'),['TOTAL KG']] > 0

TOTAL KG    True
Name: (1, EB 120), dtype: bool

In [10]:
days = set()
machines = set()
for day, machine in test.index:
    days.add(day)
    machines.add(machine)

In [11]:
print(days, machines)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23} {'EB 121', 'EB 120', 'EB-088', 'EB-091', 'EB-122', 'EB-101', 'EB-047', 'EB-043', 'EB-097', 'EB-117', 'EB-119', 'EB G2', 'EB-111', 'EB-099', 'EB-109', 'EB-108', 'EB-038', 'EB-071', 'EB-098', 'EB-045', 'EB-106', 'EB-103', 'EB-115', 'EB-124', 'EB G4', 'EB-050', 'EB-052', 'EB-116', 'EB-096', 'EB-026', 'EB-072', 'EB-093', 'EB-051', 'EB-032', 'EB-094', 'EB-125', 'EB-17', 'EB-092', 'EB-029', 'EB-070', 'EB-044', 'EB-123', 'EB-112', 'EB G3', 'EB-036', 'EB G1', 'EB-102', 'EB-105', 'EB-104', 'EB-18', 'EB-118', 'EB-073', 'EB-107', 'EB-075', 'EB-053', 'EB-095', 'EB-037', 'EB-074', 'EB-110', 'EB-114', 'EB-090', 'EB-046'}

In [12]:
# FROM THIS PART THE CODE IS FOR THE MAIN PROGRAM

In [13]:
# Days of work for one machine

In [14]:
df_group = df.groupby(['MÁQ.','DIA']).sum()
df_group

            PRODUCCION (PZAS)  TOTAL KG  SCRAP
MÁQ.   DIA
EB 120 1                   48   1151.52  32.90
       2                   50   1230.75   3.10
       3                   48   1181.52   0.00
       4                   50   1207.75   1.65
       5                    0      0.00   0.00
...                       ...       ...    ...
EB-18  19                   0      0.00   0.00
       20                   0      0.00   0.00
       21                   0      0.00   0.00
       22                   0      0.00   0.00
       23                   0      0.00   0.00

[1426 rows x 3 columns]

In [15]:
df_group.loc['EB 120']['TOTAL KG']>0

DIA
1      True
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
Name: TOTAL KG, dtype: bool

In [16]:
filt = df_group.loc['EB 120']['TOTAL KG']>0
type(filt)

pandas.core.series.Series

In [17]:
filt.count()

23

In [18]:
filt.where(filt == True).count()

22

In [19]:
# days of work for all machines

In [20]:
machines = set()
for day, machine in test.index:
    machines.add(machine)
print(machines)

{'EB 121', 'EB 120', 'EB-088', 'EB-091', 'EB-122', 'EB-101', 'EB-047', 'EB-043', 'EB-097', 'EB-117', 'EB-119', 'EB G2', 'EB-111', 'EB-099', 'EB-109', 'EB-108', 'EB-038', 'EB-071', 'EB-098', 'EB-045', 'EB-106', 'EB-103', 'EB-115', 'EB-124', 'EB G4', 'EB-050', 'EB-052', 'EB-116', 'EB-096', 'EB-026', 'EB-072', 'EB-093', 'EB-051', 'EB-032', 'EB-094', 'EB-125', 'EB-17', 'EB-092', 'EB-029', 'EB-070', 'EB-044', 'EB-123', 'EB-112', 'EB G3', 'EB-036', 'EB G1', 'EB-102', 'EB-105', 'EB-104', 'EB-18', 'EB-118', 'EB-073', 'EB-107', 'EB-075', 'EB-053', 'EB-095', 'EB-037', 'EB-074', 'EB-110', 'EB-114', 'EB-090', 'EB-046'}

In [21]:
machines_dict = {}
for machine in machines:
    filt = df_group.loc[machine]['TOTAL KG']>0
    days_of_work = filt.where(filt == True).count()
    machines_dict[machine] = days_of_work
print(machines_dict)

{'EB 121': 10, 'EB 120': 22, 'EB-088': 0, 'EB-091': 20, 'EB-122': 22, 'EB-101': 20, 'EB-047': 0, 'EB-043': 16, 'EB-097': 0, 'EB-117': 23, 'EB-119': 21, 'EB G2': 22, 'EB-111': 20, 'EB-099': 13, 'EB-109': 10, 'EB-108': 20, 'EB-038': 0, 'EB-071': 0, 'EB-098': 1, 'EB-045': 12, 'EB-106': 20, 'EB-103': 15, 'EB-115': 7, 'EB-124': 20, 'EB G4': 2, 'EB-050': 20, 'EB-052': 20, 'EB-116': 0, 'EB-096': 0, 'EB-026': 0, 'EB-072': 0, 'EB-093': 10, 'EB-051': 20, 'EB-032': 20, 'EB-094': 0, 'EB-125': 20, 'EB-17': 4, 'EB-092': 0, 'EB-029': 8, 'EB-070': 6, 'EB-044': 16, 'EB-123': 14, 'EB-112': 0, 'EB G3': 11, 'EB-036': 20, 'EB G1': 22, 'EB-102': 18, 'EB-105': 20, 'EB-104': 21, 'EB-18': 10, 'EB-118': 21, 'EB-073': 0, 'EB-107': 21, 'EB-075': 13, 'EB-053': 23, 'EB-095': 0, 'EB-037': 0, 'EB-074': 13, 'EB-110': 10, 'EB-114': 14, 'EB-090': 20, 'EB-046': 14}

In [22]:
#a clearer way to do it

In [23]:
df_group.loc['EB-118']

     PRODUCCION (PZAS)  TOTAL KG   SCRAP
DIA
1                   13   642.395  199.30
2                   24  1192.510  105.50
3                   24  1199.410   41.95
4                   23  1146.595   93.90
5                    0     0.000    0.00
6                   20   987.650  161.00
7                   23  1130.345   91.70
8                   20   695.426  214.75
9                   33  1179.276   19.85
10                  32  1130.254   74.20
11                  32  1153.254   11.10
12                   0     0.000    0.00
13                  20   715.840   79.95
14                  34  1218.398    0.00
15                  32  1145.254    0.00
16                  32  1146.454    4.90
17                  33  1181.376   40.20
18                  32  1133.304    0.00
19                  33  1180.876   17.65
20                  33  1183.676    0.00
21                  32  1150.404   31.55
22                  33  1180.126    0.00
23                  32  1144.654   48.85

In [24]:
df_group.loc['EB-118','TOTAL KG']

DIA
1      642.395
2     1192.510
3     1199.410
4     1146.595
5        0.000
6      987.650
7     1130.345
8      695.426
9     1179.276
10    1130.254
11    1153.254
12       0.000
13     715.840
14    1218.398
15    1145.254
16    1146.454
17    1181.376
18    1133.304
19    1180.876
20    1183.676
21    1150.404
22    1180.126
23    1144.654
Name: TOTAL KG, dtype: float64

In [25]:
s = df_group.loc['EB-118','TOTAL KG']
type(s)

pandas.core.series.Series

In [26]:
s.where(s > 0).count()

21

In [27]:
machines_dict = {}
for machine in machines:
    s = df_group.loc[machine,'TOTAL KG']
    days_of_work = s.where(s > 0).count()
    machines_dict[machine] = days_of_work
print(machines_dict)

{'EB 121': 10, 'EB 120': 22, 'EB-088': 0, 'EB-091': 20, 'EB-122': 22, 'EB-101': 20, 'EB-047': 0, 'EB-043': 16, 'EB-097': 0, 'EB-117': 23, 'EB-119': 21, 'EB G2': 22, 'EB-111': 20, 'EB-099': 13, 'EB-109': 10, 'EB-108': 20, 'EB-038': 0, 'EB-071': 0, 'EB-098': 1, 'EB-045': 12, 'EB-106': 20, 'EB-103': 15, 'EB-115': 7, 'EB-124': 20, 'EB G4': 2, 'EB-050': 20, 'EB-052': 20, 'EB-116': 0, 'EB-096': 0, 'EB-026': 0, 'EB-072': 0, 'EB-093': 10, 'EB-051': 20, 'EB-032': 20, 'EB-094': 0, 'EB-125': 20, 'EB-17': 4, 'EB-092': 0, 'EB-029': 8, 'EB-070': 6, 'EB-044': 16, 'EB-123': 14, 'EB-112': 0, 'EB G3': 11, 'EB-036': 20, 'EB G1': 22, 'EB-102': 18, 'EB-105': 20, 'EB-104': 21, 'EB-18': 10, 'EB-118': 21, 'EB-073': 0, 'EB-107': 21, 'EB-075': 13, 'EB-053': 23, 'EB-095': 0, 'EB-037': 0, 'EB-074': 13, 'EB-110': 10, 'EB-114': 14, 'EB-090': 20, 'EB-046': 14}

* Exporting to a csv

In [28]:
machines_days_of_work = pd.Series(data = machines_dict, index =None)
machines_days_of_work

EB 121    10
EB 120    22
EB-088     0
EB-091    20
EB-122    22
          ..
EB-074    13
EB-110    10
EB-114    14
EB-090    20
EB-046    14
Length: 62, dtype: int64

In [29]:
type(machines_days_of_work)

pandas.core.series.Series

In [42]:
machines_days_of_work.sort_values(ascending = True, inplace = True)
machines_days_of_work

EB-072     0
EB-116     0
EB-088     0
EB-037     0
EB-095     0
          ..
EB G1     22
EB-122    22
EB G2     22
EB-053    23
EB-117    23
Length: 62, dtype: int64

In [43]:
%cd D:/Notas de Estudio/Proyectos/production_analysis__project/production_analysis/data/processed/

D:\Notas de Estudio\Proyectos\production_analysis__project\production_analysis\data\processed

In [44]:
machines_days_of_work.to_csv('machines_days_of_work.csv', index = True, header = False)