In [1]:
import pandas as pd
import openpyxl

In [2]:
!dir

 Volume in drive D is D
 Volume Serial Number is 02D3-2159

 Directory of d:\Notas de Estudio\Proyectos\production_analysis__project\production_analysis\notebooks

03/18/2022  05:57 PM    <DIR>          .
03/18/2022  05:57 PM    <DIR>          ..
03/18/2022  05:55 PM    <DIR>          .ipynb_checkpoints
03/18/2022  05:56 PM           149,189 0_preparing_data.ipynb
01/20/2022  06:23 PM            40,147 1_machine_working_days.ipynb
03/18/2022  05:57 PM           558,420 2_scrap_vs_production.ipynb
01/20/2022  06:23 PM           350,310 3_scrap_vs_total_scrap.ipynb
01/20/2022  06:23 PM            23,925 4_cross_information_between_lists.ipynb
02/11/2022  08:13 PM           190,428 5_scrap_per_machine.ipynb
03/17/2022  09:08 PM            41,023 6_production_per_day_per_machine.ipynb
               7 File(s)      1,353,442 bytes
               3 Dir(s)  232,656,605,184 bytes free

In [3]:
%cd D:\Notas de Estudio\Proyectos\production_analysis__project\production_analysis\data\processed
!dir

D:\Notas de Estudio\Proyectos\production_analysis__project\production_analysis\data\processed
 Volume in drive D is D
 Volume Serial Number is 02D3-2159

 Directory of D:\Notas de Estudio\Proyectos\production_analysis__project\production_analysis\data\processed

03/19/2022  03:16 PM    <DIR>          .
03/19/2022  03:16 PM    <DIR>          ..
01/20/2022  06:23 PM                 0 .gitkeep
01/01/2022  12:05 PM    <DIR>          .ipynb_checkpoints
03/19/2022  03:16 PM                76 common list.txt
03/19/2022  03:16 PM           330,645 data.csv
03/19/2022  03:16 PM               648 machines_days_of_work.csv
03/19/2022  03:16 PM             6,356 prod_per_day.xlsx
03/19/2022  03:16 PM            31,120 scrap per machine_0.png
03/19/2022  03:16 PM            31,585 scrap per machine_15.png
03/19/2022  03:16 PM            25,254 scrap per machine_30.png
03/19/2022  03:16 PM            17,782 scrap_vs_production.pdf
03/19/2022  03:16 PM            16,711 scrap_vs_total_scrap.pdf
03/19/2022  03:16 PM            30,340 tendency_scrap_vs_production.pdf
03/19/2022  03:16 PM            30,486 tendency_scrap_vs_total_scrap.pdf
              12 File(s)        521,003 bytes
               3 Dir(s)  232,656,605,184 bytes free

In [4]:
df = pd.read_csv("data.csv")
df.tail()

,FECHA,TURNO,GRUPO,MÁQ.,CODIGO,PRODUCCION (PZAS),TOTAL KG,SCRAP,DIA,NOMBRE_DIA
5381,2022-01-31,Noche,A,EB 121,IAT17X49K0F0T4-LB35,5,2555.800,43.65,31,Monday
5382,2022-01-31,Noche,A,EB-122,IPT18X40C0F0SO,12,190.380,9.30,31,Monday
5383,2022-01-31,Noche,A,EB-123,IPT18X30C0F0SO,7,103.402,0.00,31,Monday
5384,2022-01-31,Noche,A,EB-124,0,0,0.000,0.00,31,Monday
5385,2022-01-31,Noche,A,EB-125,0,0,0.000,0.00,31,Monday

#### Just testing...

In [27]:
prod = df.groupby(['MÁQ.']).sum()
prod.head()

        PRODUCCION (PZAS)    TOTAL KG    SCRAP   DIA
MÁQ.
EB 120               1383   27474.398  2207.90  1400
EB 121                582  196686.935  4667.20  2119
EB G1                 448    8089.308   608.15  1464
EB G2                 564   16388.185  1485.21  1576
EB G3                 437    9600.724  1062.65  1397

In [31]:
prod.loc['EB 120']['TOTAL KG']

27474.398000000005

In [32]:
prod.index

Index(['EB 120', 'EB 121', 'EB G1', 'EB G2', 'EB G3', 'EB G4', 'EB-026',
       'EB-029', 'EB-032', 'EB-036', 'EB-037', 'EB-038', 'EB-043', 'EB-044',
       'EB-045', 'EB-046', 'EB-047', 'EB-050', 'EB-051', 'EB-052', 'EB-053',
       'EB-070', 'EB-071', 'EB-072', 'EB-073', 'EB-074', 'EB-075', 'EB-088',
       'EB-090', 'EB-091', 'EB-092', 'EB-093', 'EB-094', 'EB-095', 'EB-096',
       'EB-097', 'EB-098', 'EB-099', 'EB-101', 'EB-102', 'EB-103', 'EB-104',
       'EB-105', 'EB-106', 'EB-107', 'EB-108', 'EB-109', 'EB-110', 'EB-111',
       'EB-112', 'EB-114', 'EB-115', 'EB-116', 'EB-117', 'EB-118', 'EB-119',
       'EB-122', 'EB-123', 'EB-124', 'EB-125', 'EB-17', 'EB-18'],
      dtype='object', name='MÁQ.')

In [93]:
days = df.groupby(['DIA','MÁQ.']).sum()
days.head()

            PRODUCCION (PZAS)  TOTAL KG  SCRAP
DIA MÁQ.
3   EB 120                 56    535.92  310.0
    EB 121                 11   5773.26  211.0
    EB G1                   0      0.00    0.0
    EB G2                   0      0.00    0.0
    EB G3                   0      0.00    0.0

In [65]:
type(days)

pandas.core.frame.DataFrame

In [60]:
days.index

Index([ (3, 'EB 120'),  (3, 'EB 121'),   (3, 'EB G1'),   (3, 'EB G2'),
         (3, 'EB G3'),   (3, 'EB G4'),  (3, 'EB-026'),  (3, 'EB-029'),
        (3, 'EB-032'),  (3, 'EB-036'),
       ...
       (31, 'EB-117'), (31, 'EB-118'), (31, 'EB-119'), (31, 'EB-122'),
       (31, 'EB-123'), (31, 'EB-124'), (31, 'EB-125'),  (31, 'EB-17'),
        (31, 'EB-18'),         'MÁQ.'],
      dtype='object', length=1799)

In [95]:
days.loc[[(3, 'EB 120')]]['TOTAL KG'].values[0]

535.92

In [103]:
list_days=[]
for i in range(1,32,1):
    
    try:
        day = days.loc[[(i, 'EB 120')]]['TOTAL KG'].values[0]
        #print(day)
        if day > 0:
            list_days.append(day)
    except:
        continue
        
print(len(list_days))

28

In [107]:
prod_120 = prod.loc['EB 120']['TOTAL KG'] / len(list_days)
print(prod_120)

981.2285000000002

#### Finish testing

In [5]:
# obtaining indexs
df.head()

,FECHA,TURNO,GRUPO,MÁQ.,CODIGO,PRODUCCION (PZAS),TOTAL KG,SCRAP,DIA,NOMBRE_DIA
0,2022-01-03,Mañana,A,EB G1,0,0,0.0,0.0,3,Monday
1,2022-01-03,Mañana,A,EB G2,0,0,0.0,0.0,3,Monday
2,2022-01-03,Mañana,A,EB G3,0,0,0.0,0.0,3,Monday
3,2022-01-03,Mañana,A,EB G4,0,0,0.0,0.0,3,Monday
4,2022-01-03,Mañana,A,EB-17,0,0,0.0,0.0,3,Monday

In [6]:
df_prod = df.groupby(['MÁQ.']).sum()
df_prod.head()

        PRODUCCION (PZAS)    TOTAL KG    SCRAP   DIA
MÁQ.
EB 120               1383   27474.398  2207.90  1400
EB 121                582  196686.935  4667.20  2119
EB G1                 448    8089.308   608.15  1464
EB G2                 564   16388.185  1485.21  1576
EB G3                 437    9600.724  1062.65  1397

In [7]:
df_prod.index # this is the index for the new data frame

Index(['EB 120', 'EB 121', 'EB G1', 'EB G2', 'EB G3', 'EB G4', 'EB-026',
       'EB-029', 'EB-032', 'EB-036', 'EB-037', 'EB-038', 'EB-043', 'EB-044',
       'EB-045', 'EB-046', 'EB-047', 'EB-050', 'EB-051', 'EB-052', 'EB-053',
       'EB-070', 'EB-071', 'EB-072', 'EB-073', 'EB-074', 'EB-075', 'EB-088',
       'EB-090', 'EB-091', 'EB-092', 'EB-093', 'EB-094', 'EB-095', 'EB-096',
       'EB-097', 'EB-098', 'EB-099', 'EB-101', 'EB-102', 'EB-103', 'EB-104',
       'EB-105', 'EB-106', 'EB-107', 'EB-108', 'EB-109', 'EB-110', 'EB-111',
       'EB-112', 'EB-114', 'EB-115', 'EB-116', 'EB-117', 'EB-118', 'EB-119',
       'EB-122', 'EB-123', 'EB-124', 'EB-125', 'EB-17', 'EB-18'],
      dtype='object', name='MÁQ.')

In [8]:
print(len(df_prod.index))

62

In [9]:
#obtaining produciton of the month
prod_month=[]
for i in range(0,len(df_prod.index)):
    x =df_prod.loc[df_prod.index[i]]['TOTAL KG']
    prod_month.append(x)

print(len(prod_month))

62

In [10]:
#obtaining days of work

df_days = df.groupby(by=['DIA','MÁQ.']).sum()
df_days.head()

            PRODUCCION (PZAS)  TOTAL KG  SCRAP
DIA MÁQ.
3   EB 120                 56    535.92  310.0
    EB 121                 11   5773.26  211.0
    EB G1                   0      0.00    0.0
    EB G2                   0      0.00    0.0
    EB G3                   0      0.00    0.0

In [11]:
df_days.index

MultiIndex([( 3, 'EB 120'),
            ( 3, 'EB 121'),
            ( 3,  'EB G1'),
            ( 3,  'EB G2'),
            ( 3,  'EB G3'),
            ( 3,  'EB G4'),
            ( 3, 'EB-026'),
            ( 3, 'EB-029'),
            ( 3, 'EB-032'),
            ( 3, 'EB-036'),
            ...
            (31, 'EB-116'),
            (31, 'EB-117'),
            (31, 'EB-118'),
            (31, 'EB-119'),
            (31, 'EB-122'),
            (31, 'EB-123'),
            (31, 'EB-124'),
            (31, 'EB-125'),
            (31,  'EB-17'),
            (31,  'EB-18')],
           names=['DIA', 'MÁQ.'], length=1798)

In [12]:
df_days.loc[(3, 'EB 120')]['TOTAL KG']

535.92

In [13]:
day_list = []
for i in range(0,len(df_prod.index)):
    d = 0
    for u in range(1,32):
        try:
            x =df_days.loc[(u, df_prod.index[i])]['TOTAL KG']            
            if x > 0:
                d = d+1   
        except:
            continue
    day_list.append(d)
print(day_list)

[28, 27, 16, 24, 17, 19, 0, 7, 22, 22, 0, 0, 0, 0, 0, 0, 0, 22, 22, 22, 29, 25, 0, 0, 0, 13, 6, 0, 25, 25, 19, 0, 0, 0, 0, 0, 0, 23, 21, 25, 24, 24, 25, 22, 24, 21, 0, 0, 0, 0, 0, 0, 0, 29, 27, 24, 26, 26, 21, 29, 24, 0]

In [14]:
print(len(day_list))

62

In [15]:
#creatin the new data frame

data = { 'PRODUCCION': prod_month, 'DIAS': day_list}
df = pd.DataFrame(data =data, index = df_prod.index)
df

        PRODUCCION  DIAS
MÁQ.
EB 120   27474.398    28
EB 121  196686.935    27
EB G1     8089.308    16
EB G2    16388.185    24
EB G3     9600.724    17
...            ...   ...
EB-123    8230.772    26
EB-124  117087.960    21
EB-125  134001.712    29
EB-17    59381.760    24
EB-18        0.000     0

[62 rows x 2 columns]

In [16]:
df['PRODUCCION']

MÁQ.
EB 120     27474.398
EB 121    196686.935
EB G1       8089.308
EB G2      16388.185
EB G3       9600.724
             ...
EB-123      8230.772
EB-124    117087.960
EB-125    134001.712
EB-17      59381.760
EB-18          0.000
Name: PRODUCCION, Length: 62, dtype: float64

In [17]:
df['PRODUCCION X DIA'] = df['PRODUCCION'] / df['DIAS']
df['PRODUCCION X DIA'] = df['PRODUCCION X DIA'].round(decimals = 0)
df

        PRODUCCION  DIAS  PRODUCCION X DIA
MÁQ.
EB 120   27474.398    28             981.0
EB 121  196686.935    27            7285.0
EB G1     8089.308    16             506.0
EB G2    16388.185    24             683.0
EB G3     9600.724    17             565.0
...            ...   ...               ...
EB-123    8230.772    26             317.0
EB-124  117087.960    21            5576.0
EB-125  134001.712    29            4621.0
EB-17    59381.760    24            2474.0
EB-18        0.000     0               NaN

[62 rows x 3 columns]

In [18]:
df.to_excel("prod_per_day.xlsx")